<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>r5rs</string>
	<key>CFBundleName</key>
	<string>R5RS</string>
	<key>DocSetPlatformFamily</key>
	<string>r5rs</string>
	<key>isDashDocset</key>
	<true/>
        <key>dashIndexFilePath</key>
        <string>index.html</string>
        <key>DashDocSetFallbackURL</key>
        <string>http://www.schemers.org/Documents/Standards/R5RS/HTML/</string>
</dict>
</plist>
